[Unit]
Description=isucondition.bot
After=network.target mysql.service cloud-config.service

[Service]
WorkingDirectory=/home/isucon/git/isucon
EnvironmentFile=/home/isucon/git/isucon/env.sh

User=isucon
Group=isucon
ExecStart=/bin/bash bot.sh
ExecStop=/bin/kill -s QUIT $MAINPID

Restart   = always
Type      = simple

[Install]
WantedBy=multi-user.target
